<div class="container">
  
  <h2 class="mt-5">都道府県一覧・追加</h2>
  
  <%= form_with model:@prefecture, url:admin_prefecture_index_path, class:"row mt-5" do |f| %>
  
    <table cellpadding="15">
      <tr>
        <th>
          都道府県名
        </th>
        <td>
          <%= f.text_field :prefecture_name %>
        </td>
        <td>
          <%= f.submit '新規追加', class:"btn btn-success" %>
        </td>
      </tr>
    </table>
    
  <% end %>
  
  <table class="table mt-5">
    <thead>
      <tr>
        <th>都道府県名</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @prefectures.each do |prefecture| %>
        <tr>
          <td>
            <%= prefecture.prefecture_name %>
          </td>
          <td>
            <%= link_to "編集する", edit_admin_prefecture_path(prefecture), class:"btn btn-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>