<div class="col-xs-2 m-5">
  
  <div class="mt-4">
    <h5 class="border-bottom">検索する</h5>
    <%= form_tag({controller: "ski_resorts", action: "search"}, method: :get) do %>
      都道府県<br>
      <%= select_tag 'prefecture_id', options_for_select(prefectures.map{|p|[p[:prefecture_name], p[:id]]}), id: 'prefecture' %><br>
      
      <div class="mt-3">ゲレンデの状態</div>
      <%= radio_button_tag :snow_active, "true" %>
      <%= label_tag :snow_active_true, "圧雪" %>
      <%= radio_button_tag :snow_active, "false" %>
      <%= label_tag :snow_active_false, "非圧雪" %><br>
      
      <div class="mt-3">営業状況</div>
      <%= radio_button_tag :sales_active, "true" %>
      <%= label_tag :sales_active_true, "営業中" %>
      <%= radio_button_tag :sales_active, "false" %>
      <%= label_tag :sales_active_false, "準備中" %><br>
      
      <div class="mt-3">1日券料金</div>
      <%= number_field_tag :min_search, "", step: 100, placeholder: "最小料金" %><br>
      <%= number_field_tag :max_search, "", step: 100, placeholder: "最大料金" %>
      <%= submit_tag "検索", id: "submit", class:"mt-" %>
    <% end %>
  </div>
  
</div>