<div class="col-xs-2 m-5">
  <table class="table table-hober table-bordered">
    <thead>
      <tr>
        <th class="active text-center"><h5>都道府県検索</h5></th>
      </tr>
    </thead>
    
    <tbody>
      <% prefectures.each do |prefecture| %>
        <tr>
          <td><%= link_to prefecture.prefecture_name, search_ski_resorts_path(prefecture.id), method: :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="mt-5">
    <h5>料金で検索する</h5>
    <%= form_tag({controller: "ski_resorts", action: "search"}, method: :get) do %>
      <%= number_field_tag :min_search, "", step: 100, placeholder: "最小料金" %><br>
      <%= number_field_tag :max_search, "", step: 100, placeholder: "最大料金" %>
      <%= submit_tag "検索", id: "submit" %>
    <% end %>
  </div>
</div>