<div class="container">
  
  <h2 class="my-5">スキー場一覧</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>スキー場ID</th>
        <th>スキー場名</th>
        <th>都道府県</th>
        <th>最終更新日時</th>
      </tr>
    </thead>
    
    <tbody>
      <% @ski_resorts.each do |ski_resort| %>
        <tr>
          <td><%= ski_resort.id %></td>
          <td><%= link_to ski_resort.name, admin_ski_resort_path(ski_resort), class:"text-body" %></td>
          <td><%= ski_resort.prefecture.prefecture_name %></td>
          <td><%= ski_resort.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @ski_resorts %>
</div>