<div class="container">
  
  <div class="d-flex align-items-end mt-5">
    <h2>検索結果</h2>
    <h4>(全<%= @ski_resorts.length %>件)</h4>
  </div>
  
  <table class="table">
    <thead>
    </thead>
    
    <tbody>
      <% @ski_resorts.each do |ski_resort| %>
        <tr>
          <td><%= link_to image_tag(ski_resort.image, size:"280x180"), ski_resort_path(ski_resort) %></td>
          <td><h4><%= link_to ski_resort.name, ski_resort_path(ski_resort), class:"text-body" %></h4></td>
          <td>
            <h5>
              <% if ski_resort.sales_active %>
                営業中
              <% else %>
                準備中
              <% end %>
            </h5>
            <br>
            <h5>天候：<%= ski_resort.weather %></h5>
            <br>
            最終更新：<%= ski_resort.updated_at.strftime('%Y/%m/%d/%T') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>