<div class="container">
  
  <div class="d-flex mt-5">
      
    <%= image_tag @ski_resort.image, size: "480x310" %>
    
    <div class="ml-5">
      <h3><%= @ski_resort.name %> (<%= @ski_resort.prefecture.prefecture_name %>)</h3>
      
      <p class="mt-5"><%= @ski_resort.introduction %></p>
      
      <div class="d-flex mt-5">
        最終更新：<%= @ski_resort.updated_at.strftime('%Y/%m/%d/%T') %>
      
      <% if @ski_resort.favorite_resorted_by?(current_customer) %>  
        <% link_to "お気に入りから外す", favorite_resort_path(@ski_resort), method: :delete, class:"btn btn-success ml-4" %>
      <% else %>
        <%= link_to "お気に入りに追加する", add_ski_resort_path(@ski_resort), method: :post, class:"btn btn-success ml-4" %>
      <% end %>
        
      </div>
    </div>
  </div>
  
  <div class="d-flex">
    <table class="col-6", cellpadding="15", style="margin-top: 90px; font-size: 21px;">
      <tr>
        <th>営業状況</th>
        <td>
          <% if @ski_resort.sales_active %>
            営業中
          <% else %>
            準備中
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th>1日券料金</th>
        <td>¥<%= @ski_resort.price %></td>
      </tr>
      
      <tr>
        <th>リフト待ち時間</th>
        <td><%= @ski_resort.waiting_time %></td>
      </tr>
      
      <tr>
        <th>天候</th>
        <td><%= @ski_resort.weather %></td>
      </tr>
      
      <tr>
        <th>ゲレンデの状態</th>
        <td>
          <% if @ski_resort.snow_active %>
            圧雪
          <% else %>
            非圧雪
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th>周辺道路の路面状況</th>
        <td><%= @ski_resort.road_condition %></td>
      </tr>
    </table>
    
    <div class="col-6 mt-5">
      
      <h3 class="border-bottom">Review</h3>
      
      <% @reviews.each do |review| %>
        <table cellpadding="10">
          <tr>
            <td><%= review.customer.customer_name %>  ：</td>
            
            <td><%= review.comment %></td>
            
            <td>
              <% if review.customer == current_customer %>
                <%= link_to "削除する", ski_resort_review_path(@ski_resort, review), method: :delete, class:"btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
      
      <%= form_with model: [@ski_resort, @review] do |f| %>
        <%= f.text_area :comment, placeholder: "コメントを書く", class:"w-100" %>
        <%= f.submit "送信" %>
      <% end %>
      
    </div>
    
  </div>
  
</div>