<!DOCTYPE html>
<html>
  <head>
    <title>YUKIYAMACondition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8c842679cc.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex-culumn vh-100">
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          
          <h1 class="navbar-brand">LOGO</h1>
          
          <div style="margin-left: 150px;">
            <%= flash[:notice] %>
          </div>
          
          
          <ul class="navbar-nav">
            <% if customer_signed_in? %>
            <li>
              <%= link_to root_path, class:"btn btn-outline-secondary" do %>
                TOP
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to root_path, class:"btn btn-outline-secondary" do %>
                お気に入り
              <% end %>
            </li>
            &emsp;
            <li>
               <%= link_to root_path, class:"btn btn-outline-secondary" do %>
                 スキー場一覧
               <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to customers_my_page_path, class:"btn btn-outline-secondary" do %>
                マイページ
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary" do %>
                ログアウト
              <% end %>
            </li>
            <% elsif owner_signed_in? %>
            <li>
              <%= link_to ski_resorts_path, class:"btn btn-outline-secondary" do %>
                スキー場一覧
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to owners_my_page_path, class:"btn btn-outline-secondary" do %>
                マイページ
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to destroy_owner_session_path, method: :delete, class:"btn btn-outline-secondary" do %>
                ログアウト
              <% end %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_prefecture_index_path, class:"btn btn-outline-secondary" do %>
                都道府県追加
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to admin_ski_resorts_path, class:"btn btn-outline-secondary" do %>
                スキー場一覧
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to admin_customers_path, class:"btn btn-outline-secondary" do %>
                会員一覧
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to root_path, class:"btn btn-outline-secondary" do %>
                経営者一覧
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" do %>
                ログアウト
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to root_path, class:"btn btn-outline-secondary" do %>
                TOP
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to homes_registration_top_path, class:"btn btn-outline-secondary" do %>
                新規登録
              <% end %>
            </li>
            &emsp;
            <li>
              <%= link_to homes_session_top_path, class:"btn btn-outline-secondary" do %>
                ログイン
               <% end %>
            </li>
            <% end %>
          </ul>
          
          
        </div>
      </nav>
    </header>
    
    <%= yield %>
    
    <footer></footer>
  </body>
</html>
